[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
openai = "*"
requests = "*"
beautifulsoup4 = "*"
schedule = "*"
pytz = "*"
arxiv = "*"
pyzotero = "*"
pydrive2 = "*"
pypdf = "*"
pydantic = "*"

[dev-packages]
jupyterlab = "*"
ruff = "*"

[requires]
python_version = "3.10"
