[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
openai = "*"
requests = "*"
beautifulsoup4 = "*"
schedule = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
